@import '../styles/variables.scss';

ul {
  padding-left: 1rem;
  list-style-type: none;
}

.directory {
  cursor: pointer;
}

.file {
  cursor: pointer;
}

.active {
  background-color: $primary !important;
  color: $white !important;
}
